## Production requirements (same as in setup.py)
amaasutils>=1.2.8
#  This isn't needed in Python 3, but is provided for backwards compatibility with Python 2
configparser
python-dateutil
pytz
requests
warrant

## Dev requirements
pytest
pytest-cov
requests-mock
